/* create-mission-confirmation-dialog.component.css */

.mat-dialog-container {
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  background-color: #4caf50;
}

h2 {
  margin: 0;
  font-size: 20px;
  color: white;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.cancel-button {
  color: #fff;
  background-color: #bdbdbd;
}

.confirm-button {
  color: #fff;
  background-color: #4caf50;
}
