footer {
    background-color: #f8f8f8;
    color: #555;
    font-size: 14px;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  :host {
    display: block;
    min-height: 10vh;
    padding-bottom: 50px; /* add some padding to the bottom */
  }
  