<section  class="hero" [ngStyle]="getHeroStyle()">
    <div class="container">
      <div class="hero-content">
        <h1 class="title">commercial Waste Service</h1>
      </div>
    </div>
  </section>
  <div class="card">
    <p>At Waste Wise, we understand the unique waste management needs of commercial establishments like restaurants, coffee shops, and other businesses. That's why we offer a comprehensive commercial waste recycling and garbage collecting service that helps you manage your waste effectively and responsibly. Our team of trained professionals will work with you to design a waste management plan tailored to your specific needs and requirements. We offer a range of services, including waste collection, sorting, and recycling, so you can rest assured that your waste is being handled in an environmentally friendly way. With Waste Wise, you can focus on running your business, knowing that your waste management is in good hands.</p>
  
    
  <br>
    
    <h3 class="h3">Service Features</h3>
    <br>
    <div class="wrapper">
      <div class="table basic">
        <div class="price-section">
          <div class="price-area">
            <div class="inner-area">
              <span class="text">$</span>
              <span class="price">29</span>
            </div>
          </div>
        </div>
        <div class="package-name"></div>
        <ul class="features">
          <li>
            <span class="list-name">Standard service level</span>
          </li>
          <li>
            <span class="list-name">4 visits per month</span>
          </li>
          <li>
            <span class="list-name">Limited types of materials accepted for recycling</span>
          </li>
          <li>
            <span class="list-name">Limited hours of availability for customer service</span>
          </li>
          <li>
            <span class="list-name">Basic reporting and tracking features</span>
          </li>
          <li>
            <span class="list-name">No additional services such as document shredding or e-waste disposal</span>
          </li>
        </ul>
        <div class="btn" routerLink="/basicPlan"><button>Purchase</button></div>
      </div>
      <div class="table premium">
        <div class="ribbon"><span>Recommend</span></div>
        <div class="price-section">
          <div class="price-area">
            <div class="inner-area">
              <span class="text">$</span>
              <span class="price">59</span>
            </div>
          </div>
        </div>
        <div class="package-name"></div>
        <ul class="features">
          <li>
            <span class="list-name">Priority service level</span>
          </li>
          <li>
            <span class="list-name">6 visits per month</span>
          </li>
          <li>
            <span class="list-name">Expanded types of materials accepted for recycling</span>
          </li>
          <li>
            <span class="list-name">Extended hours of availability for customer service</span>
          </li>
          <li>
            <span class="list-name">Advanced reporting and tracking features</span>
          </li>
          <li>
            <span class="list-name">Additional services such as document shredding or e-waste disposal</span>
          </li>
        </ul>
        <div class="btn" routerLink="/premiumPlan"><button>Purchase</button></div>
      </div>
      <div class="table ultimate">
        <div class="price-section">
          <div class="price-area">
            <div class="inner-area">
              <span class="text">$</span>
              <span class="price">99</span>
            </div>
          </div>
        </div>
        <div class="package-name"></div>
        <ul class="features">
          <li>
            <span class="list-name">Top-tier service level</span>
          </li>
          <li>
            <span class="list-name">8 visits per month</span>
          </li>
          <li>
            <span class="list-name">Comprehensive range of materials accepted for recycling</span>
          </li>
          <li>
            <span class="list-name">24/7 availability for customer service</span>
          </li>
          <li>
            <span class="list-name">Customizable reporting and tracking features</span>
          </li>
          <li>
            <span class="list-name">Additional premium services such as on-site sorting and consultation services.</span>
          </li>
        </ul>
        <div class="btn" routerLink="/ultimatePlan"><button>Purchase</button></div>
      </div>
    </div>
           