<section  class="hero" [ngStyle]="getHeroStyle()">
    <div class="container">
      <div class="hero-content">
        <h1 class="title">commercial Waste Service</h1>
      </div>
    </div>
  </section>
  <div class="card">
    <p>At Waste Wise, we understand the unique waste management needs of commercial establishments like restaurants, coffee shops, and other businesses. That's why we offer a comprehensive commercial waste recycling and garbage collecting service that helps you manage your waste effectively and responsibly. Our team of trained professionals will work with you to design a waste management plan tailored to your specific needs and requirements. We offer a range of services, including waste collection, sorting, and recycling, so you can rest assured that your waste is being handled in an environmentally friendly way. With Waste Wise, you can focus on running your business, knowing that your waste management is in good hands.</p>
  </div>
  <h3>Service Features</h3>
  <ul class="service-features">
    <li><span class="green-tick">&#10003;</span> 6 visits per week</li>
    <li><span class="green-tick">&#10003;</span> Separate waste can for plastic</li>
    <li><span class="green-tick">&#10003;</span> Separate waste can for glass</li>
    <li><span class="green-tick">&#10003;</span> Separate waste cans for electronic waste</li>
  </ul>
  <div class="subscribe-button"><button class="green-button zoom-button">Subscribe</button>
  </div>