<body>
    <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>Today's Missions</h2>
            <button [routerLink]="['/myMissions', driverId]">My Missions</button>
          </div>
          <div class="col-md-6">
            <h2>Actions</h2>
            <div>
              <button class="action-button">Button 1</button>
            </div>
            <div>
              <button class="action-button">Button 2</button>
            </div>
            <div>
              <button class="action-button">Button 3</button>
            </div>
          </div>
        </div>
      </div>
      