.house-waste-container {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.house-waste-content {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px black;
}

h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
}
.house-waste-container {
  position: relative;
}
.hero {
  height: 80vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.house-waste-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 1s ease-in-out;
  z-index: -1;
  background-size:cover; /* match size of container */
}


.house-waste-image.fade-in {
  opacity: 1;
}

.house-waste-image.fade-out {
  opacity: 0;
}

.house-waste-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px #000;
}

.hero h1 {
  color: #fff;
  font-size: 4rem;
  text-transform: uppercase;
  position: relative;
  width: 100%;
  animation: moveTitle 2s ease-in-out forwards;
}

@keyframes moveTitle {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.subtitle {
  font-size: 24px;
  color: white; /* or your desired color */
  animation: moveTitle 2.5s ease-in-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
/* Service Features Section */
.service-features {
  margin-top: 2rem;
  list-style: none;
  text-align: center;
}

.service-features li {
  display: inline-block;
  margin: 1rem;
  font-size: 1.2rem;
  color: #555;
}

.service-features .green-tick {
  font-size: 1.5rem;
  color: #4CAF50;
  margin-right: 0.5rem;
}

/* Subscribe Button */
.subscribe-button {
  margin-top: 2rem;
  text-align: center;
}

.green-button {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.green-button:hover {
  transform: scale(1.1);
}

.zoom-button {
  animation: zoom 1s infinite alternate;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px;
}

.card p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #333;
  margin-top: 20px;

}
