
<body>
  

<div class="table-title">
    <img src="assets\img\log.png" alt="Logo" class="logo"><span class="waste">Waste</span><span class="wise">Wise    -</span>
    <span>   &nbsp; Drivers List</span>
  </div>
  <table class="users-table">
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.numTel}}</td>
      <td [ngStyle]="{'color': user.onDuty ? 'green' : 'red'}">{{user.onDuty ? 'On Duty' : 'Off Duty'}}</td>
      <td>
        <button mat-raised-button class="primary" [disabled]="user.onDuty">Give Mission</button>
        <button mat-raised-button class="warn" (click)="updateUser(user.id)">Update</button>
        <button mat-raised-button class="danger" (click)="deleteUser(user.id)">Remove</button>
      </td>
    </tr>
  </table>
  
  <button  class="return" routerLink="/adminDashboard">Return</button>
  <button mat-raised-button class="warn" routerLink="/addDriver">Add new driver</button>
