<body>
<div class="confirmation">
    <div class="dialog">
      <div class="dialog-content">
        <h2>Thank you for trusting WasteWise!</h2>
        <p>We are excited to have you on board.</p>
        <p>We will reach out to you very soon to complete the subscription process.</p>
        <div class="tick">
          <i class="fas fa-check"></i>
        </div>
        <div class="countdown">
          Redirecting in {{ countdownValue }} seconds...
        </div>
      </div>
    </div>
  </div>
</body>