
    <div class="content-wrapper">
      <img src="assets\img\logo.png" class="square" alt="" />
      <div class="form">
        <div class="contact-info">
          <h3 class="title">we appreciate your feedback</h3>
          <p class="text">
           At WasteWise we are always happy to be in touch with our customers
          </p>

          <div class="info">
            <div class="information">
              <img src="img/location.png" class="icon" alt="" />
              <p>Tunis,Tunisia</p>
            </div>
            <div class="information">
              <img src="img/email.png" class="icon" alt="" />
              <p>WasteWise@gmail.com</p>
            </div>
            <div class="information">
              <img src="img/phone.png" class="icon" alt="" />
              <p>+216 94583034</p>
            </div>
          </div>

          <div class="social-media">
            <p>Connect with us :</p>
            <div class="social-icons">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fab fa-instagram"></i>
              </a>
            
            </div>
          </div>
        </div>

        <div class="contact-form">
        

          <form action="index.html" autocomplete="off">
            <h3 class="title">Contact us</h3>
            <div class="input-container">
              <input type="text" name="name" class="input" placeholder="Your name"/>
             
            </div>
            <div class="input-container">
              <input type="email" name="email" class="input"placeholder="Email" />
            </div>
            <div class="input-container">
              <input type="tel" name="phone" class="input"placeholder="Phone" />
            </div>
            <div class="input-container textarea">
              <textarea name="message" class="input"placeholder="Message"></textarea>
            </div>
            <input type="submit" value="Send" class="btn" />
          </form>
      </div>
      </div>
      </div>

