body{
  background-image: url('src\assets\img\eco10.jpg');

}

.container {
  margin: 0 auto;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
  display: block;
  max-width: 100%;
  margin-bottom: 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

.company-name {
  font-weight: bold;
}

h2 {
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 20px;
}
img {
  width: 70px;
  height: 70px;
}

ul {
  list-style: disc;
  margin-left: 20px;
  margin-bottom: 40px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}
.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 20px;
  background-color: #fff;
  border-radius: 10%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 300px;
}

.image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 20px;
}
.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
}

.company-name2 {
  margin-left: 5px;
  font-size: 20px;
}

ul {
  list-style-type: none;
}

li::before {
  content: "\2192"; /* Unicode arrow symbol */
  margin-right: 10px;
  color: lightgreen;
  font-size: 1.2em; /* Increase font size */
}
.brown-text {
  color: #964B00
  ;
}h1 {
  color: darkgreen;
}

.green-text {
  color: green;
}
p{
  font-size: 20px;
  font-weight: 600;
}
.map {
  width: 800px;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
  margin-left: 170px;
}