<body>

<div class="container">
  <div class="logo-container">
    <img src="assets/img/logo.png" alt="Company Logo" class="logo">
    <h1 class="company-name"><span class="brown-text">Waste</span> <span class="green-text">Wise</span></h1>
  </div>
  
 
<h1>About Us</h1>
  <div class="card-container">
    <div class="card">
      <p>WasteWise is a waste removal and collection company that handles both small and large-scale junk clearance operations for Tunisia homeowners and companies. We are completely committed to collecting and disposing of your trash in a professional manner.</p>
    </div>
    <img src="assets\img\tunis.png" alt="Image" class="image">
  </div>
    <h1>Our Goals:</h1>
  <ul>
    <li>Increase awareness about the importance of recycling and its benefits to the environment.</li>
    <li>Provide convenient and efficient recycling services to our customers.</li>
    <li>Reduce waste in landfills and promote sustainability.</li>
    <li>Collaborate with local organizations and communities to support recycling initiatives.</li>
    <li>Continuously improve our processes to ensure the highest standards of environmental responsibility.</li>
  </ul>
  <h1>Our Coverage:</h1>
  <img src="assets\img\tunis.jpg"  class="map">
</div>

</body>
