<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>

<div class="container">
  <div class="card commercial-card">
    <h3 class="card-title">Join Our Community</h3>
          <p class="card-text">We are the first waste removal company in Tunisia. We handle waste collection in a professional and environment friendly manner. We ensure all our customers receive first class waste removal services at affordable prices throughout Tunisia.</p>
          <button type="button" routerLink="/About-us" class="btn btn-outline-light" >Learn More</button>
  </div>



  <div class="card registration-card">
    <div class="text-center mb-3">
      <img src="assets\img\logo.png" alt="Logo" width="50"><span class="waste">Waste</span><span class="wise">Wise</span>
    </div>
      <form (ngSubmit)="register()" #registerForm="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email" required email>
          <div *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)" class="text-danger">
            <div *ngIf="registerForm.controls['email'].errors?.['required']">Email is required.</div>
            <div *ngIf="registerForm.controls['email'].errors?.['email']">Invalid email address.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" required>
          <div *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)" class="text-danger">
            <div *ngIf="registerForm.controls['password'].errors?.['required']">Password is required.</div>
            <div *ngIf="registerForm.controls['password'].errors?.['minlength']">Password should be at least 6 characters long.</div>
            <div *ngIf="registerForm.controls['password'].errors?.['maxlength']">Password should be at most 30 characters long.</div>
            <div *ngIf="registerForm.controls['password'].errors?.['invalidPassword']">Password should not contain special characters.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="user.firstName" required>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="user.lastName" required>
        </div>
        <div class="form-group">
          <label for="numTel">Phone Number</label>
          <input type="text" class="form-control" id="numTel" name="numTel" [(ngModel)]="user.numTel" required>
        </div>
        <div *ngIf="successMessage" class="alert alert-success">{{successMessage}}</div>
        <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
    <button type="submit" class="btn btn-success" [disabled]="!registerForm.valid">Register</button>
    <button type="button" class="btn btn-secondary" (click)="registerForm.reset()">Reset</button>

  </form>
</div>
