


<div class="plan-description">
  <h2>Bronze Plan</h2>
  <p>Our bronze Plan offers a standard service level with 4 pickups or visits. We accept a limited number of materials for recycling and have limited hours of availability for customer service. The Basic Plan also includes basic reporting and tracking features, but does not include additional services such as document shredding or e-waste disposal. If you're looking for an affordable option that meets your basic recycling needs, the Basic Plan may be the right choice for you.</p>
  <img class="stars" src="assets\img\3stars.webp">

</div>

<h2 class="formIntro">Please Fill in the Form <span><img class="formImg" src="assets\img\form1.jpg"></span></h2>


<div class="card-container">
  <div class="card">
    <h2>Personal Information</h2>
    <form (submit)="onSubmit()">
      <div>
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" [(ngModel)]="subscription.firstName" required>
      </div>

      <div>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" [(ngModel)]="subscription.lastName" required>
      </div>

      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="subscription.email" required>
      </div>

      <div>
        <label for="address">Address:</label>
        <input type="text" id="address" name="address" [(ngModel)]="subscription.address" required>
      </div>

      <div>
        <label for="additionalAddress">Additional Address:</label>
        <input type="text" id="additionalAddress" name="additionalAddress" [(ngModel)]="subscription.additionalAddress">
      </div>

      <div>
        <label for="postalCode">Postal Code:</label>
        <input type="number" id="postalCode" name="postalCode" [(ngModel)]="subscription.postalCode" required>
      </div>

      <div>
        <label for="city">City:</label>
        <input type="text" id="city" name="city" [(ngModel)]="subscription.city" required>
      </div>

      <div>
        <label for="numTel">Telephone Number:</label>
        <input type="tel" id="numTel" name="numTel" [(ngModel)]="subscription.numTel" required>
      </div>

    </form>
  </div>

  <div class="card">
    <h2>Pickup Dates</h2>
    <form (submit)="onSubmit()">
      <div>
        <label for="visitDate1">Pickup Date 1:</label>
        <input type="date" id="visitDate1" name="visitDate1" [(ngModel)]="subscription.visitDates[0]" required>
      </div>

      <div>
        <label for="visitDate2">Pickup Date 2:</label>
        <input type="date" id="visitDate2" name="visitDate2" [(ngModel)]="subscription.visitDates[1]" required>
      </div>

      <div>
        <label for="visitDate3">Pickup Date 3:</label>
        <input type="date" id="visitDate3" name="visitDate3" [(ngModel)]="subscription.visitDates[2]" required>
      </div>

      <div>
        <label for="visitDate4">Pickup Date 4:</label>
        <input type="date" id="visitDate4" name="visitDate4" [(ngModel)]="subscription.visitDates[3]" required>
      </div>

      <button type="submit">Submit</button>
    </form>
  </div>
</div>
