<section  class="hero" [ngStyle]="getHeroStyle()">
  <div class="container">
    <div class="hero-content">
      <h1 class="title">Office Waste Service</h1>
    </div>
  </div>
</section>
<div class="card">
  <p>Our office waste service is designed to provide an efficient and reliable solution to managing your workplace garbage. We understand the importance of maintaining a clean and healthy environment, which is why we take pride in offering top-quality waste collection services to our customers. Our team of experienced professionals is dedicated to ensuring that your garbage is collected on time and disposed of responsibly, so you can have peace of mind knowing that your waste is being handled in a safe and eco-friendly manner. With our office waste service, you can say goodbye to the hassle of dealing with garbage and hello to a cleaner, healthier workspace.</p>
</div>
<br>
<h3 class="h3">Service Features</h3>
<br>
<div class="wrapper">
  <div class="table basic">
    <div class="price-section">
      <div class="price-area">
        <div class="inner-area">
          <span class="text">$</span>
          <span class="price">29</span>
        </div>
      </div>
    </div>
    <div class="package-name"></div>
    <ul class="features">
      <li>
        <span class="list-name">4 visits per month</span>
      </li>
      <li>
        <span class="list-name">Separate waste can for plastic</span>
      </li>
      <li>
        <span class="list-name">Separate waste can for paper</span>
      </li>
      <li>
        <span class="list-name">Separate waste can for glass</span>
      </li>

      <li>
        <span class="list-name">Separate waste cans for e-waste</span>
      </li>
    </ul>
    <div class="btn"><button>Purchase</button></div>
  </div>
  <div class="table premium">
    <div class="ribbon"><span>Recommend</span></div>
    <div class="price-section">
      <div class="price-area">
        <div class="inner-area">
          <span class="text">$</span>
          <span class="price">59</span>
        </div>
      </div>
    </div>
    <div class="package-name"></div>
    <ul class="features">
      <li>
        <span class="list-name">6 visits per month</span>
      </li>
      <li>
        <span class="list-name">Separate waste can for plastic</span>
      </li>
      <li>
        <span class="list-name">Separate waste can for paper</span>
      </li>
      <li>
        <span class="list-name">Separate waste can for glass</span>
      </li>
      <li>
        <span class="list-name">Separate waste cans for e-waste</span>
      </li>
    </ul>
    <div class="btn"><button>Purchase</button></div>
  </div>
  <div class="table ultimate">
    <div class="price-section">
      <div class="price-area">
        <div class="inner-area">
          <span class="text">$</span>
          <span class="price">99</span>
        </div>
      </div>
    </div>
    <div class="package-name"></div>
    <ul class="features">
      <li>
        <span class="list-name">8 visits per month</span>
      </li>
      <li>
        <span class="list-name">Separate waste can for plastic</span>
      </li>
      <li>
        <span class="list-name">Separate waste can for paper</span>
      </li>
      <li>
        <span class="list-name">Separate waste can for glass</span>
      </li>
      <li>
        <span class="list-name">Separate waste cans for e-waste</span>
      </li>
    </ul>
    <div class="btn"><button>Purchase</button></div>
  </div>
</div>
       