<section  class="hero" [ngStyle]="getHeroStyle()">
  <div class="container">
    <div class="hero-content">
      <h1 class="title">Office Waste Service</h1>
    </div>
  </div>
</section>
<div class="card">
  <p>Our office waste service is designed to provide an efficient and reliable solution to managing your workplace garbage. We understand the importance of maintaining a clean and healthy environment, which is why we take pride in offering top-quality waste collection services to our customers. Our team of experienced professionals is dedicated to ensuring that your garbage is collected on time and disposed of responsibly, so you can have peace of mind knowing that your waste is being handled in a safe and eco-friendly manner. With our office waste service, you can say goodbye to the hassle of dealing with garbage and hello to a cleaner, healthier workspace.</p>
</div>
<h3>Service Features</h3>
<ul class="service-features">
  <li><span class="green-tick">&#10003;</span> 2 visits per week</li>
  <li><span class="green-tick">&#10003;</span> Separate waste can for paper</li>
  <li><span class="green-tick">&#10003;</span> Separate waste can for plastic</li>
  <li><span class="green-tick">&#10003;</span> Separate waste can for glass</li>
  <li><span class="green-tick">&#10003;</span> Separate waste cans for electronic waste</li>
</ul>
<div class="subscribe-button"><button class="green-button zoom-button">Subscribe</button>
</div>