.plan-description {
  background-color: #a5a5a5;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
}

.plan-description h2 {
  padding-top: 30px;
  font-size: 40px;
  text-align: center;
  color: white;
  text-shadow: 0 0 5px #080808;
  
}

.plan-description p {
  color: #06013b;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  text-align: center;
  text-shadow: 0 0 5px #ffffff;
}

.plan-description p strong {
  font-weight: bold;
}

.plan-description p:last-child {
  margin-bottom: 0;
}



.card-container {
  display: flex;
  justify-content: center;
}

.card {
  width: 600px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  box-shadow: 2px 2px 5px #ccc;
  background-color: #a5a5a5;
}

.card h2 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #333;
}

.card label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.card input[type="text"],
.card input[type="email"],
.card input[type="tel"],
.card input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card input[type="text"]:focus,
.card input[type="email"]:focus,
.card input[type="tel"]:focus,
.card input[type="date"]:focus {
  outline: none;
  border-color: #3f51b5;
}

.card button[type="submit"] {
  background-color: #3f51b5;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card button[type="submit"]:hover {
  background-color: #303f9f;
}

.bar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.bar {
  height: 5px;
  background-color: #ccc;
  width: 100%;
  position: relative;
}

.progress {
  height: 100%;
  background-color: #3f51b5;
  position: absolute;
  left: 0;
  top: 0;
  transition: width 0.3s ease;
}

.progress--personal {
  width: 50%;
}

.progress--visit {
  width: 100%;
}

.stars {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.formImg {
  width: 100px;
  height: 100px;
}
.formIntro {
  text-align: center;
  font-size: 35px;
  line-height: 1.5;
  margin: 0;
  text-align: center;
  text-shadow: 0 0 10px #916610;
}