<body>

    <div class="title-banner">
          <img src="assets\img\tn.png" alt="tunisian-flag" class="tn-flag">
          <span class="s1">Number One In <span class="tn">Tunisia      </span></span>
          <img src="assets\img\logo.png" alt="Logo" id="wwlogo">
          <p>At WasteWise, we understand the importance of disposing waste in an environmental friendly manner is crucial to your business .That is why our well trained experts assess your waste streams and develop the right recycling and disposal solution for you. We provide commercial waste recycling solutions in throughout Tunisia including loading, disposal and cleaning-up.</p>
    </div>

    <h1 class="introS">Our Clearance Services</h1>
  


    <div class="services-container">
    <div class="service-card">
      <img src="assets\img\house10.jpg" alt="House Waste Clearance">
      <h2>House Waste Clearance</h2>
      <p>You can rely on our experienced, household clearance professionals to rapidly and safely remove all of the unwanted household items and rubbish that is cluttering your living environment, unwanted furniture, bulky or heavy items, electronics equipment, medical devices, construction debris, left-over materials and anything that needs to be removed from your house, we’ll take care of it all. You’ll absolutely love our prices!</p>
      <a routerLink="/HouseWaste" class="see-more">See More</a>
    </div>
    <div class="service-card">
      <img src="assets\img\commercialwaste.jpg" alt="Commercial Waste Clearance">
      <h2>Commercial Waste Clearance</h2>
      <p>At WasteWise all our team members are fully trained to attend any calibar of work in commercial rubbish removal work and they know how to handle any situation professionally. When you hire us for your commercial waste disposal requirements, we take it very serious and treat it as one of the most imporant and professional tasks that needs to be carried out with professionalism.</p>
      <a routerLink="/CommercialWaste" class="see-more">See More</a>
    </div>
    <div class="service-card">
      <img src="assets\img\officewaste.jpg" alt="Office Waste Clearance">
      <h2>Office Waste Clearance</h2>
      <p>We provide office clearance service in Tunisia for offices, shared work spaces, industrial sites, shops, pubs, clubs, basements, warehouses, construction sites, garages and lockups throughout Tunisia. We are experts in our field, we offer affordable waste management services that are as good for you as they are for the environment. That means fast response times, value for money and excellent customer service are our main priorities. To ensure you get more out of your recycling service, and keep more office & business waste out of landfill.</p>
      <a routerLink="/OfficeWaste" class="see-more">See More</a>
    </div>
    <div class="service-card">
      <img src="assets\img\buildingwaste.jpg" alt="Building Waste Clearance">
      <h2>Building Waste Clearance</h2>
      <p>We always try to minimize the impact on the environment through recycle 90-95% of all waste that is collected. WasteWise has plenty of experience in clearing all kind of builders waste. It can be a small decoration or house renovation waste removal or huge demolition waste to clear and our team can handle any task with ease. As a leading bulidng waste collection company in Tunisia our staff serves with professionalism and friendly attitude.</p>
      <a routerLink="/BuildingWaste" class="see-more">See More</a>
    </div>
  </div>

  