
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets\img\log.png" alt="logo" width="30" height="30" >
      <span class="text-light fw-bold">WasteWise</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-light" aria-current="page" routerLink="" style="color: #8B4513;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/OurServices" style="color: #8B4513;">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/About-us">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/Contact-us" style="color: #8B4513;">Contact Us</a>
        </li>
        <li class="nav-item" *ngIf="!authService.isLoggedIn()">
          <a class="nav-link text-light" routerLink="/login" style="color: #8B4513;">Login</a>
        </li>
        <li class="nav-item" *ngIf="!authService.isLoggedIn()">
          <a class="nav-link text-light" routerLink="/register" style="color: #8B4513;">Register</a>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn()">
          <a class="nav-link text-light" routerLink="profile" style="color: #8B4513;">Profile</a>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn()">
          <a class="nav-link text-light" (click)="onLogout()" style="color: #8B4513;">Logout</a>
        </li>
        
        
      </ul>
    </div>
  </div>
</nav>



<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
<footer>
  <div class="footer-container">
   
    <div class="column">
      <h3 style="margin-left: 20px;">Connect with us</h3>
      <ul class="social-media-icons">
        <li><a href="#"><i class="fab fa-facebook"> Facebook</i></a></li>
        <li><a href="#"><i class="fab fa-twitter">Twitter</i></a></li>
        <li><a href="#"><i class="fab fa-instagram"> Instagram</i></a></li>
      </ul>
    </div>
    
    <div class="column">
      <img src="assets\img\logo.png" alt="Company Logo" style="margin-left: 100px;">
      <h3 style="margin-left: 70px;">Waste Wise</h3>
      <h4 style="margin-left: 95px;">@2023</h4>
    </div>
    <div class="column">
      <h3>Contact Us</h3>
      <ul>
        
        <li>Phone: +216 94583034</li>
        <li>Email: WasteWise@gmail.com</li>
      </ul>
    </div>
  </div>
</footer>
