<section class="hero" [ngStyle]="getHeroStyle()">
    <div class="container">
      <div class="hero-content">
        <h1 class="title">Building Waste Service</h1>
      </div>
    </div>
  </section>
  <div class="card">
    <p>At our recycling and garbage collecting website, we recognize the importance of proper building waste management for the construction industry. That's why we provide a specialized building waste collection service that allows you to dispose of construction and demolition debris in an environmentally responsible manner. Our team of experts will work with you to create a customized waste management plan that suits your unique needs and requirements. We offer a range of services, including waste collection, sorting, and recycling, to ensure that your building waste is handled appropriately. By choosing our building waste collection service, you can concentrate on your construction project and leave the waste management to us, knowing that your building waste is being dealt with responsibly.</p>
  </div>
  <h3>Service Features</h3>
<ul class="service-features">
    <li><span class="green-tick">&#10003;</span> 10 visits per week</li>
    <li><span class="green-tick">&#10003;</span> Separate waste can for plastic</li>
    <li><span class="green-tick">&#10003;</span> Separate waste can for glass</li>
    <li><span class="green-tick">&#10003;</span> Separate waste can for metal</li>
    <li><span class="green-tick">&#10003;</span> Separate waste cans for electronic waste</li>
</ul>
<div class="subscribe-button">
  <button class="green-button zoom-button">Subscribe</button>
</div>