<body>
  
<section class="hero" [ngStyle]="getHeroStyle()">
    <div class="container">
      <div class="hero-content">
        <h1 class="title">Building Waste Service</h1>
      </div>
    </div>
  </section>
  <div class="card">
    <p>At our recycling and garbage collecting website, we recognize the importance of proper building waste management for the construction industry. That's why we provide a specialized building waste collection service that allows you to dispose of construction and demolition debris in an environmentally responsible manner. Our team of experts will work with you to create a customized waste management plan that suits your unique needs and requirements. We offer a range of services, including waste collection, sorting, and recycling, to ensure that your building waste is handled appropriately. By choosing our building waste collection service, you can concentrate on your construction project and leave the waste management to us, knowing that your building waste is being dealt with responsibly.</p>
  </div>
  <br>
  <h3 class="h3">Service Features</h3>
  <br>
  <div class="wrapper">
    <div class="table basic">
      <div class="price-section">
        <div class="price-area">
          <div class="inner-area">
            <span class="text">DT</span>
            <span class="price">49</span>
          </div>
        </div>
      </div>
      <div class="package-name"></div>
      <ul class="features">
        <li>
          <span class="list-name">Standard service level</span>
        </li>
        <li>
          <span class="list-name">4 pickups per month</span>
        </li>
        <li>
          <span class="list-name">Limited types of materials accepted for recycling</span>
        </li>
        <li>
          <span class="list-name">Limited hours of availability for customer service</span>
        </li>
        <li>
          <span class="list-name">Basic reporting and tracking features</span>
        </li>
        <li>
          <span class="list-name">No additional services such as document shredding or e-waste disposal</span>
        </li>
      </ul>
      <div class="btn" routerLink="/basicPlan"><button>Purchase</button></div>
    </div>
    <div class="table premium">
      <div class="ribbon"><span>Recommend</span></div>
      <div class="price-section">
        <div class="price-area">
          <div class="inner-area">
            <span class="text">DT</span>
            <span class="price">62</span>
          </div>
        </div>
      </div>
      <div class="package-name"></div>
      <ul class="features">
        <li>
          <span class="list-name">Priority service level</span>
        </li>
        <li>
          <span class="list-name">6 pickups per month</span>
        </li>
        <li>
          <span class="list-name">Expanded types of materials accepted for recycling</span>
        </li>
        <li>
          <span class="list-name">Extended hours of availability for customer service</span>
        </li>
        <li>
          <span class="list-name">Advanced reporting and tracking features</span>
        </li>
        <li>
          <span class="list-name">Additional services such as document shredding or e-waste disposal</span>
        </li>
      </ul>
      <div class="btn" routerLink="/premiumPlan"><button>Purchase</button></div>
    </div>
    <div class="table ultimate">
      <div class="price-section">
        <div class="price-area">
          <div class="inner-area">
            <span class="text">DT</span>
            <span class="price">79</span>
          </div>
        </div>
      </div>
      <div class="package-name"></div>
      <ul class="features">
        <li>
          <span class="list-name">Top-tier service level</span>
        </li>
        <li>
          <span class="list-name">8 pickups per month</span>
        </li>
        <li>
          <span class="list-name">Comprehensive range of materials accepted for recycling</span>
        </li>
        <li>
          <span class="list-name">24/7 availability for customer service</span>
        </li>
        <li>
          <span class="list-name">Customizable reporting and tracking features</span>
        </li>
        <li>
          <span class="list-name">Additional premium services such as on-site sorting and consultation services.</span>
        </li>
      </ul>
      <div class="btn" routerLink="/ultimatePlan"><button>Purchase</button></div>
    </div>
  </div>
</body>
