.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
  display: flex; /* add this */
  flex-direction: row; /* add this */
}

  
  .logo {
    width: 100px;
    height: auto;
    margin-bottom: 1rem;
  }
  
  h1 {
    font-size: 4rem;
    color: #ffffff;
    margin: 0;
  }
  
  button {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 1.5rem 3rem;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 1rem;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    z-index: 1;
  }
  
  button:nth-of-type(1) {
    background-color: #98ddca;
  }
  
  button:nth-of-type(2) {
    background-color: #b47e41;
  }
  button:nth-of-type(3) {
    background-color: #0d8112;
  }
  
  button:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }
  body {
    background-image: url('src\assets\img\eco6.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    margin-left: calc((85vw - 100%) / 2);
    margin-right: calc((95.3vw - 100%) / 2);
    overflow: hidden !important;
  }