body {
  background-size: cover;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 700px;
  margin-left: calc((95.2vw - 100%) / 2);
  margin-right: calc((95.2vw - 100%) / 2);
  background-image: url('src\assets\img\green.jpg');
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.card {
  font-family: cursive;
    height: 550px;
  margin-top: 15px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-bottom: 30px;
  background-image: url('src\assets\img\eco14.jpg');
}
.communitycard {
  margin-top: 15px;
  height: 550px;
  color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(248, 251, 252, 0.1);
  padding: 30px;
  margin-bottom: 30px;
  background-image: url('src\assets\img\eco6.jpg');
}
.communitycard p {
  font-size: 20px;
  margin-top: 30px;
  text-align: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar-container {
  position: relative;
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.avatar-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.avatar-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #29b35a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.avatar-placeholder span {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.btn-primary {
  background-color: #29b35a;
  border-color: #29b35a;
}

.btn-primary:hover {
  background-color: #268650;
  border-color: #268650;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.profile-info h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.profile-info p {
  font-size: 16px;
  color: #0c0101;
  margin-bottom: 5px;
}

.community-card {
  background-color: #29b35a;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-bottom: 30px;
}

.community-card h3 {
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px;
}

.community-card p {
  font-size: 16px;
  color: #fff;
  line-height: 1.5;
}
.waste {
  font-style: oblique;
  font-size: 2.2rem;
  color:	#8B4513;
  font-weight: 600;
  animation: fadeIn 0.5s ease-in-out forwards;


}
.wise {
  font-style: oblique;
  font-size: 2.2rem;
  color:	#0ba525;
  font-weight: 600;
  animation: fadeIn 0.5s ease-in-out forwards;
}

