<body>

<div class="container-fluid">
  <div class="row">
    <!-- First card - Profile Information -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-body text-center">
          <div class="avatar-container" (click)="onClickFileInput()">
            <img class="user-info" *ngIf="user.photo" [src]="'data:image/png;base64,' + user.photo" alt="User photo">
            <div *ngIf="!user.photo" class="avatar-placeholder">
              <span>Click to upload photo</span>
            </div>
            <input id="fileInput" type="file" class="file-input" (change)="onFileSelected($event)" accept=".jpg,.jpeg,.png" hidden>
          </div>              
          <h2 class="mt-3">{{user.firstName}} {{user.lastName}}</h2>
          <p class="text-muted">Email: {{user.email}}</p>
          <p class="text-muted">Phone Number: {{user.numTel}}</p>
          <a (click)="updateUser(user.id)" class="btn btn-primary mt-3" role="button">Edit Profile</a>
        </div>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="communitycard">
        <div class="card-body">
          <div class="text-center mb-3">
            <img src="assets\img\logo.png" alt="Logo" width="80" height="80"><span class="waste">Waste</span><span class="wise">Wise</span>
          </div>
          <h3>We Believe in Building Our Community</h3>
          <p>We believe that building a strong community is key to making a positive impact on the environment. By subscribing to our waste clearance services, you're not only helping to keep your surroundings clean and safe, but you're also contributing to a larger goal of reducing waste and preserving our planet. Together, we can make a difference.</p>
        </div>        
      </div>
    </div>
  </div>
</div>



</body>